html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
}

.time {
	text-align: center;
}

.map {
	height: 800px;
	width: 800px;
	margin: auto;
}

.login-form {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}